<div class="container">
  <div class="row">
    <div class="col-8 image-preview-container">
      <img class="image-preview" src="{{selectedTshirtImage}}">
      <img *ngIf="uploadedImage"
           [src]="uploadedImage"
           class="uploaded-overlay-image"
           width="150"
           height="100"
           [ngStyle]="{'top.px': adjustImagePositionInput}">
    </div>
    <div class="col-4">
      <h2 class="product-name">Custom t-shirt</h2>
      <span class="product-price">kr. 150,00</span>
      <div class="medium-margin-vertical">
        <div class="input-label-container">
          <span class="input-label">Select image</span>
        </div>
        <div class="uploaded-overlay-image-container">
          <input type="file" class="uploaded-overlay-image-input" (change)="onFileChange($event)">
          <button class="uploaded-overlay-image-button">
            Upload image
          </button>
          <span>
            {{fileName ? fileName : 'No file selected'}}
          </span>
        </div>
      </div>
      <div class="medium-margin-vertical">
        <div>
          <span class="input-label">Adjust image position</span>
        </div>
        <input (change)="imagePositionChange($event)" type="number" min="0" max="200"
               class="adjust-image-position-input input">
      </div>
      <div class="medium-margin-vertical">
        <div>
          <span class="input-label">Antal</span>
        </div>
        <input type="number" min="1" max="20"
               class="total-product-count-input input">
      </div>
    </div>
    <div class="col-12 select-tshirt-column">
      <div class="col-2" *ngFor="let tshirt of images" (click)="selectedTshirtImage = tshirt">
        <img src="{{tshirt}}">
      </div>
    </div>
  </div>
</div>
