.select-tshirt-column img {
  height: 70px;
  width: auto;
}

.image-preview {
  width: 100%;
  height: 420px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.image-preview-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightslategray;
}

.adjust-image-position-input {

}

.uploaded-overlay-image {
  position: absolute;
  left: 37%;
  width: 25%;
  height: auto;
}

.uploaded-overlay-image-input {
  position: absolute;
  opacity: 0;
  z-index: 999;
}

.uploaded-overlay-image-container {
  position: relative;
}

.uploaded-overlay-image-button {
  background-color: rgba(0, 136, 203, 1);
  border-width: 0;
  border-color: #42EDCE;
  border-radius: 5px;
  font: normal normal normal 14px/1.4em helvetica-w01-roman, helvetica-w02-roman, helvetica-lt-w10-roman, sans-serif;
  color: #FFFFFF;
}

.input-label {
  margin-bottom: 10px;
}

.product-name {
  font-size: 26px;
  line-height: 1.2em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

.product-price {
  padding-top: 23px;
  padding-bottom: 0;
  font-size: 20px;
}

/*Card */

.scene {
  height: 420px;
  width: 100%;
  /*margin: 40px 0;*/
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}
