@import "assets/css/simple-grid.css";

.medium-margin-vertical {
  margin: 20px 0;
}

.input {
  color: #575757;
  -moz-appearance: textfield;
  height: 43px;
  width: 100%;
  padding-left: 13px;
  padding-right: 27px;
}
